doctype html
html
  head
    meta(charset='utf-8')
    title!= title
    meta(name='viewport', content='initial-scale=1', maximum-scale='1', user-scalable='no')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/app.min.css' rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
  body
    div#map
    article#narrative
      div(class='sections prose')
        section#cover(class='cover active')
          h1!= title
          small(class='scroll quiet') Scroll 
        section#hackreactor
          h3 Hack Reactor
          p Hack Reactor is the best bootcamp in the world!!
        section#devbootcamp
          h3 Dev Bootcamp
          p Dev Bootcamp is a highly respected bootcamp and the first of its kind in the country.
        section#makersquare
          h3 Maker Square
          p Maker Square was recently acquired by Hack Reactor.
        section#appacademy
          h3 App Academy
          p Don't forget about App Academy
        section#dummy
    script.
      L.mapbox.accessToken = 'pk.eyJ1Ijoibmxva2FyZSIsImEiOiJpdXpld1NzIn0.MgDypbwDp8FZIaW7bB9YvQ';
      var places = { type: 'FeatureCollection', features: [
        { geometry: { type: "Point", coordinates: [-122.4072, 37.7839] },
        properties: { id: "cover", zoom: 14 }, type: 'Feature' },
        { geometry: { type: "Point", coordinates: [-122.40904809, 37.78371579] },
        properties: { id: "hackreactor", zoom: 16 }, type: 'Feature' },
        { geometry: { type: "Point", coordinates: [-122.39721400, 37.784585] },
        properties: { id: "devbootcamp", zoom: 16 }, type: 'Feature' },
        { geometry: { type: "Point", coordinates: [-122.39990899, 37.787496] },
        properties: { id: "makersquare", zoom: 16 }, type: 'Feature' },
        { geometry: { type: "Point", coordinates: [-122.41142000, 37.781014] },
        properties: { id: "appacademy", zoom: 16 }, type: 'Feature' }
      ]};

      var map = L.mapbox.map('map', 'nlokare.l114oiif', { zoomControl: true });

      var placesLayer = L.mapbox.featureLayer(places).addTo(map);
    script(src='/js/mymap.js')
