doctype html
html
  head
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='./css/bootstrap-3.3.2-dist/css/bootstrap.css')
    link(href='./css/styles.css', rel='stylesheet')
    link(href='./css/cover.css', rel='stylesheet')
    title My Maps Dashboard
  body(class='site-wrapper')
    nav(class='navbar navbar-inverse')
      div(class='container-fluid')
        div(class='navbar-header')
          a(class='navbar-brand') Vagabond
        div(class='collapse navbar-collapse' id='bs-example-navbar-collapse-1')
          ul(class='nav navbar-nav')
            li a(href='/createMaps') Create Maps
          ul(class='nav navbar-nav navbar-right')
            li a(href='/del') Log Out
