<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
	<link rel="stylesheet" type="text/css" href="../../client/css/bootstrap-3.3.2-dist/css/bootstrap.css">
</head>
<body>
<div class='container col-md-4'></div>
<div class='container col-md-4 login'>
	<fieldset>

	<!-- Form Name -->
	<legend>Curation Station</legend>

	<!-- Text input-->

	<div class="form-group"> 
	  <div>
	  <input id="textinput" name="textinput" type="text" placeholder="username" class="form-control input-md">
	  </div>
	</div>

	<!-- Password input-->
	<div class="form-group">
	  <div>
	    <input id="passwordinput" name="passwordinput" type="password" placeholder="password" class="form-control input-md">
	  </div>
	</div>

	<!-- Button -->
	<div class="form-group">
	  <div class="col-md-6">
	    <button class="submitButton">Sign Up</button>
	  </div>
	  <div class="col-md-6">
	    <button class="submitButton">Login</button>
	  </div>
	</div>

	<p>Facebook here</p>
	<p>Github here</p>

	<legend><h6>Created by Critical Shadow</h6></legend>



	</fieldset>
</div>
<div class='container col-md-4'></div>
</body>
</html>


<form class="form-horizontal">
