<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/cover.css">
</head>
<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand branding">Vagabond</h3>
          <nav>
            <ul class="nav masthead-nav">
            	<li><a href="/">Home</a></li>
              <li><a href="/mymap">View Example</a></li>
              <li><a href="/login">Login</a></li>
              <li class="active"><a href="/signup">Sign Up</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-4"></div>
			<div class="col-md-4">
				<h2>Join Vagabond Today</h2>
				<form method="post" action="/signup">
				  <button type="submit" class="btn btn-primary">Sign Up with Facebook</button>
				</form>
			</div>
			<div class="col-md-4"></div>
  </div>
</div>
</body>
</html>