<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-3.3.2-dist/css/bootstrap.css">
</head>
<body>
<div class='container col-md-4'></div>
<div class='container col-md-4 login'>
	<fieldset>

	<!-- Form Name -->
	<legend>Vagabond Sign Up</legend>

	<!-- Text input-->
	<form name='portal' method="post">
	<div class="form-group"> 
	  <div>
	  <input id="textinput" name="usernameInput" type="text" placeholder="username" class="form-control input-md" required>

	  </div>
	</div>

	<!-- Password input-->
	<div class="form-group">
	  <div>
	    <input id="passwordinput" name="passwordInput" type="password" placeholder="password" class="form-control input-md" name='password' required>
	  </div>
	</div>

	<div class="form-group">
	  <div>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email" name='emailInput' required>
	  </div>
	</div>

	<!-- Button -->
	<div class="form-group push">
	  <div class="col-md-12">
	    <button type='submit' class="submitButton" ng-disabled="push.$invalid">Submit</button>
	  </div>
	</div>
	</form>
	</fieldset>
</div>
<div class='container col-md-4'></div>
</body>
</html>


<form class="form-horizontal">